<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default TestSuite">
	<test name="Automated Full Regression TestCycle" preserve-order="false"
		parallel="false">
		<classes>
			<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.rightpanel.QuickLinkAndRecentLinkTestCases" />
			<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.appsandlinks.AppsAndLinksTestCases" />
			<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.footer.FooterTestCases" />
				<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.landingpage.LandingPageTestCases" />
				<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.dashboard.MyAppsTestCases" />
				<class
				name="northeasternunversity.cxplatform.employeeportaltestcases.dashboard.LatestNewsTestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
